.header { background: url('https://proxy.qnoss.seeln.com/images/blog_avator.jpeg'); }

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
