// Custom styles.
body {
    background:url(https://proxy.qnoss.seeln.com/images/blog_background.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    color: #000;
}

.main-inner {
    background: #fff;
    opacity: 0.9;
}

@media screen and (min-width:1200px) {
    body {
        background-image:url(https://proxy.qnoss.seeln.com/images/saber.jpg);      //这一行的括号里填背景图片的路径，将图片重命名为background.jpg放在\themes\next\source\images下
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-position:100% 1%;
    }

    #footer a {
        coler: #eee;
    }
}